.form {
    display: flex;
    font-size: medium;
    justify-content: center;
    text-align: center;
}

.form input {
    width: 250px;
}

a:link, a:visited{
    text-decoration: none;
    color: black;
}

a:hover {
    color: #555;
}

.faturas-conteiner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.header-text {
    margin: 10px;
    text-align: center;
    font-size: large;
}

.fatura-conteiner {
    list-style-type: none;
    display: block;
    align-items: center;
    text-align: center;
    width: 220px;
    height: 220px;
    margin: auto;
    margin-top: 10px;   
}

.fatura-conteiner li{
    margin: auto;
    margin-top: 10px;
    margin-left: 10px;
    align-self: center;
    justify-self: center;
}